nav{
    height: 20vh;
    width: 100%;
    .search{
            height: 40%;
            display:flex;
            justify-content: space-between;
            a{
                color: black;
                text-decoration: None;
            }
            a:hover{
                color: red;
            }    
            .a1{
                font-family: 'Brush Script MT', cursive;
                font-weight: bold;
                font-size: 300%;
                margin-left: 5%;
                color: black;
                text-decoration: None;
            }
            .a2{
                font-family: fantasy;
                margin-top: 1%;
                margin-right: 3%;
                color: black;
                text-decoration: None;
            }
            .a2:hover{
                color: red;
                .together{
                    color: red;
                }
            }
    }
    .foods{
        height: 100px;
        font-family: fantasy;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        a{
            margin-top: 2%;
            margin-left: 5%;
            margin-right: 4%;
            text-decoration: none;
            height: 50%;
            color: black;
        }
        .pasta:hover{
            color: red;
        }  
        .taco:hover{
            color: red;
        }
        .pizza:hover{
            color: red;
        }
        .dessert:hover{
            color: red;
        }
        .breakfast:hover{
            color: red;
        }
        .lunch:hover{
            color: red;
        }
        .dinner:hover{
            color: red;
        } 
        .page2:hover{
            color: red;
        } 
    } 
    .l{
        font-weight: bold;
    }  
}   

